*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'lato';
}

a {
    text-decoration: none;
}

.black-bg {
  background-color: black;
}

.black-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
  color: white;
  list-style: none;
  gap: 20px;
  padding: 10px 50px;
}

.container {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.brand-name {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.brand-name a {
    color: black;
}

.nav {
  margin-top: 12px;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  color: black;
}

.nav-item {
    padding: 5px;
    border: 3px solid white;
}

.nav-itemc {
  border: 3px solid red;
  padding: 5px;
}

/** CSS for Toggle menu**/
.ham-icon {
    display: block;
    cursor: pointer;
  }
  
  .bars {
    display: none;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: black;
  }

.hide {
  visibility: hidden;
}

.banner-area {
  background-image: url('images/banner.png');
  background-repeat: no-repeat;
  background-position: absolute;
  background-size: cover;
  width: 100%;
}

.banner-highlight {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 73%;
  margin: auto;
  padding: 50px 70px 50px 0;
}

.initial-highlight {
  font-size: 40px;
  color: #FF5438;
  margin-top: 70px;
}

.heading {
  font-size: 60px;
  color: #FF5438;
  font-weight: bold;
}

.highlight-detail {
  background-color: #f9f7f7;
  color: #515151;
  border: 2px solid white;
  width: 70%;
}

.highlight-detail p {
  padding: 15px;
}

.time {
  font-size: 25px;
  font-weight: bold;
}

.location {
  margin-bottom: 5%;
  color:#67798e;
  font-size: 20px;
}

.topic {
  background-color: #282B32;
  text-align: center;
}

.topic-area {
  padding-top: 20px;
}

.topic-head {
  color: white;
  padding: 10px auto;
}

.topic-boxes {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  width: 80%;
  margin: 30px auto;
  column-gap: 5px;
}

.topic-box {
  background-color: #3B3E45;
  color: white;
}

.topic-box h4 {
  color: #FF5438;
}

.topic a {
  color: white;
}

.topic-link {
    padding-bottom: 20px;
}

.sponsors {
  background-color: #414246;
  text-align: center;
  color: white;
}

.sponsors-head {
  padding-top: 25px;
}

.sponsor-brand {
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  column-gap: 15px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  align-items: center;
}

.footer {
 display: grid;
 grid-template-columns: 30% 70%;
 width: 70%;
 margin: auto;
 margin-top: 50px;
 margin-bottom: 30px;
}

@media (max-width: 768px) {
    .black-bg {
      display: none;
    }

    .container {
      width: 90%;
    }
    .ham-icon {
        display: block;
      }
    
    .bars {
      display: block;
    }

    .cross {
        display: block;
        position: absolute;
        top: 10px;
        left: 90%;
        color: #fff;
        width: 12px;
        height: 12px;
        stroke-width: 2px;
        stroke: var(--base-500-secondary, #67798e);
      }
    
    .nav-links {
      position: fixed;
      left: -100%;
      padding-top: 50px;
      gap: 1px;
      display: flex;
      flex-direction: column;
      background-color: #485af7;
      opacity: 95%;
      transition: 0.3s;
      width: 100%;
      height: 100%;
      }
    
    .nav-item {
      margin: 12px 0;
      font-size: 30px;
      font-weight: bold;
      }
    
      .nav-item a {
        color: white;
        margin-left: 5%;
      }
    
      .nav-links.active {
        left: 0;
      }
}
